@import url('http://fonts.cdnfonts.com/css/graphik');

@font-face {
  font-family: 'Gelion';
  src: url('../font/Gelion/Gelion-Regular.ttf'); /* IE9*/
  src: url('../font/Gelion/Gelion-Regular.ttf') format('embedded-opentype');
  src: url('../font/Gelion/Gelion-Regular.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

* {
  font-family: 'Graphik', sans-serif;
  font-size: 16px;
  /* line-height: 18px; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #5d6970;
  border-style: none;
  border: none;

}

/* * {
  font-family: 'Gelion', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-style: none;
  border: none;

} */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

i,
a,
button {
  cursor: pointer;
}
